:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;

  --color-heading: #1b0760;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;

  --color-border: #ccc;
  --border-radius: 30px;
}

/*TODO: 1. Typography */

::selection {
  background: var(--color-primary);
  color: #fff;
}

/* 这是for移动端的样式（先从移动端做起！！！） */
html {
  /* 为了之后发便使用rem，使用relative度量。不直接使用10px，可能不同平台默认初始数值不同！62.5%*16px = 10px */
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 2.4rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: var(--color-heading);
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  /* 为了避免与Heading的margin collapse */
  margin-top: 0;
}

/* for桌面端 */
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/*TODO: 2. Links */

/* 不需要下划线 */
a {
  text-decoration: none;
}

.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* TODO: 3. Badges */

.badge {
  border-radius: 20px;
  padding: 0.5rem 2rem;
  font-weight: 600;
  white-space: nowrap;
  font-size: 2rem;
}

.badge--primary {
  background: var(--color-primary);
  color: #fff;
}

.badge-secondary {
  background: var(--color-secondary);
  color: #fff;
}

.badge--small {
  font-size: 1.6rem;
  padding: 0.5rem 1.5rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }

  .badge--small {
    font-size: 1.2rem;
  }
}

/* TODO: 4. Lists */

.list {
  list-style: none;
  padding-left: 0;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url(../images/tick.svg);
  padding-left: 3rem;
  color: var(--color-heading);
}

/* 下面这种叫nesting方法，仅仅限制于list--tick下面的list__item使用这段css。 */
.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/* TODO: 5. Icons */
.icon {
  width: 40px;
  height: 40px;
}

.icon--small {
  width: 30px;
  height: 30px;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon--white {
  fill: #fff;
}

.icon-container {
  background: #f3f9fa;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.icon-container--accent {
  background: var(--color-accent);
}

/* 全局（elements）设定 */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* TODO: 6. Buttons */

.btn {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 2rem 4vw;
  border: 0;
  border-radius: 40px;
  /* 这样这个按钮就可以点击了 */
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
  margin: 1rem 0;
}

.btn--primary {
  background: var(--color-primary);
  color: #fff;
}
.btn--primary:hover {
  /* sass语言？ background:lighten(primary,10%);*/
  background: #3a8ffd;
}

.btn--secondary {
  background: var(--color-secondary);
  color: #fff;
}
.btn--secondary:hover {
  background: #00c8eb;
}

.btn--accent {
  background: var(--color-accent);
  color: #fff;
}
.btn--accent:hover {
  background: #ec3000;
}

.btn--stretched {
  padding-left: 6rem;
  padding-right: 6rem;
}

.btn--block {
  width: 100%;
  display: inline-block;
}

.btn--outline {
  background: #fff;
  color: var(--color-heading);
  border: 2px solid var(--color-heading);
}
.btn--outline:hover {
  background: var(--color-heading);
  color: #fff;
}

.btn .icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  vertical-align: middle;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/* TODO: 7. Inputs */

.input {
  padding: 1.5rem 3.5rem;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  outline: 0;
  color: var(--color-heading);
  font-size: 2rem;
}

::placeholder {
  color: #cdcbd7;
}

.input-group {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  display: flex;
}

/* 用nesting：在input-group下，input的border应该取消，也就是0 */
/* FIXME:注意区分：应用多个元素是  xxx , xxx {}  而nesting是没有','的：xxx xxx {} */
.input-group .input {
  border: 0;
  flex-grow: 1;
  padding: 1.5rem 2rem;
  width: 0;
}

.input-group .btn {
  margin: 4px;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}

/* TODO: 8. Cards  */

.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  /* 颜色块overflow覆盖了弧形边框，设置hidden来让超过边框的部分消失！ */
  overflow: hidden;
}

.card__header,
.card__body {
  padding: 2rem 3rem;
}

.card--primary .card__header {
  background: var(--color-primary);
  color: #fff;
}

.card--secondary .card__header {
  background: var(--color-secondary);
  color: #fff;
}

.card--primary .badge--primary {
  background: #126de4;
}

.card--secondary .badge--secondary {
  background: #02cdf1;
}

/* TODO: 9. Plans */

.plan__name {
  color: #fff;
  margin: 0;
  font-weight: 500;
  font-size: 2.4rem;
}

.plan__price {
  font-size: 6rem;
}

.plan__billing-cycle {
  font-size: 2.4rem;
  font-weight: 300;
  opacity: 0.8;
  margin-right: 1rem;
}

.plan__description {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
}

.plan .list__item {
  margin-bottom: 2rem;
}

.plan--popular {
  /* 1.1倍更大 */
  transform: scale(1.1);
}

.plan--popular .card__header {
  position: relative;
}

/* 在plan--popular下的card header之间插入。。。 */
.plan--popular .card__header::before {
  content: url(../images/popular.svg);
  width: 40px;
  display: inline-block;

  position: absolute;
  top: -6px;
  right: 5%;
}

.plan:hover {
  transform: scale(1.05);
}

.plan--popular:hover {
  transform: scale(1.15);
}

.plan {
  transition: transform 0.2s ease-out;
}

@media screen and (min-width: 1024px) {
  .plan__name {
    font-size: 1.4rem;
  }
  .plan__price {
    font-size: 5rem;
  }
  .plan__billing-cycle {
    font-size: 1.6rem;
  }
  .plan__description {
    font-size: 1.7rem;
  }
}

/* TODO: 10. Media */
.media {
  display: flex;
}

.media__title {
  margin-top: 0;
}

.media__body {
  margin: 0 2rem;
}

.media__image {
  margin-top: 1rem;
}

/* TODO: 11. Quotes */

.quote {
  font-size: 3rem;
  font-style: italic;
  color: var(--color-body-darker);
  line-height: 1.3;
}

.quote__text::before {
  content: open-quote;
}

.quote__text::after {
  content: close-quote;
}

.quote__author {
  font-size: 3rem;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 0;
}

.quote__organization {
  color: var(--color-heading);
  opacity: 0.3;
  font-size: 2rem;
}

@media screen and (min-width: 1024px) {
  .quote {
    font-size: 2rem;
  }
  .quote__author {
    font-size: 2.4rem;
  }
  .quote__organization {
    font-size: 1.6rem;
  }
}

/* TODO: 12. Grids */
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  /* 桌面端时变成2cols，1fr 1fr 意味着2 cols，并且占用全屏！ */
  .grid--1x2 {
    grid-template-columns: 1fr 1fr;
  }
}

/* TODO: 13. Testimonial */

.testimonial {
  padding: 3rem;
}

.testimonial__image {
  position: relative;
}

/* 设置100%，那么图片就会充分利用它可以得到的空间 */
/*  > 这个来指向应对image子element，来设置图片width */
.testimonial__image > img {
  width: 100%;
}

/* image是位置是relative的，但是icon在image内部的位置确需要是绝对不变的！Absolute!! */
.testimonial__image .icon-container {
  position: absolute;
  top: 3rem;
  right: -32px;
}

@media screen and (min-width: 768px) {
  .testimonial .quote,
  .testimonial .quote__author {
    font-size: 2.4rem;
  }

  .testimonial .quote {
    margin-left: 6rem;
  }
}

/* TODO: 14. Callouts */

/* FIXME: margin设置外围，padding设置内壁 */
.callout {
  padding: 4rem;
  border-radius: 5px;
}

.callout--primary {
  background: var(--color-primary);
  color: #fff;
}

.callout__heading {
  color: #fff;
  margin-top: 0;
  font-size: 3rem;
}

.callout .btn {
  justify-self: center;
  align-self: center;
}

.callout_content {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .callout__content {
    text-align: left;
  }

  .callout .btn {
    justify-self: left;
    margin: 0 2rem;
  }

  /* auto的意思是只给足够这个button的空间，其它都节省下来！ */
  .callout .grid--1x2 {
    grid-template-columns: 1fr auto;
  }
}

/* TODO: 15. Collapsible */

.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  margin-top: 0;
  font-size: 3rem;
}

.collapsible__chevron {
  transform: rotate(-90deg);
  transition: transform 0.3s;
}

.collapsible__content {
  /* display:none;  为了可以增加动画，用max-height来替代display功能：*/
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  /* all = max-height + opacity */
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__chevron {
  transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
  /* display: block; max-height仅仅是设置上限100vh，不强制。而height则是强制100vh */
  max-height: 100vh;
  opacity: 1;
}

/* TODO: 16. Blocks */

.block {
  --padding-vertical: 6rem;
  padding: var(--padding-vertical) 2rem;
  /* border: 2px solid red; */
}

.block__header {
  text-align: center;
  margin-bottom: 4rem;
}

.block__heading {
  margin-top: 0;
}

.block--dark {
  background: #000;
  color: #7b858b;
}

.block--dark h1,
.block--dark h2,
.block--dark h3 {
  color: #fff;
}

.block--skewed-right {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  padding-bottom: calc(var(--padding-vertical) + 4rem);
}

.block--skewed-left {
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  padding-bottom: calc(var(--padding-vertical) + 4rem);
}

.container {
  max-width: 1140px;
  /* 设置auto后，水平方向的多出来的空白会均匀分布在页面两侧 */
  margin: 0 auto;
}

/* TODO: 17. Navigation Bar */

nav {
  background: #000;
  display: flex;
  justify-content: space-between;
  /* wrap让flex-boxes 若有需要，就可以占据更多行！而不用挤在一行里 */
  flex-wrap: wrap;
  padding: 1rem 1rem;
  /* align-items: center; */
}

.nav__list {
  width: 100%; /* 占据整行 */
  text-align: center;
  margin-top: 0;
}

.nav__item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #222;
  /* 设置了li的颜色，但却没有变化，这是因为 link有它自己的颜色！！ */
  color: #d2d0db;
}
/* 因此我们要改变link的颜色： */
.nav__item > a {
  color: #d2d0db;
  transition: color 0.3s;
}

.nav__item > a:hover {
  color: #fff;
}

.nav__toggler {
  opacity: 0.5;
  transition: box-shadow 0.15s;
  /* cursor就是让光标点到这个button可以出现小手掌：看着是可以点的样子 */
  cursor: pointer;
}

/* 不带空格可以设置双重条件来nesting */
.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 0 3px #666;
  border-radius: 5px;
}

/* 在全部继承手机端的样式下，稍微改动就可以设计电脑端： */
@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }

  .nav__list {
    width: auto;
    display: flex;
    /* 为了让电脑端的list一直显示：     */
    max-height: 100%;
    opacity: 1;
  }

  .nav__item {
    border-bottom: 0px solid #222;
    padding: 1rem 1rem;
  }
}

/* TODO: 18. Hero */
.hero {
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.hero__tagline {
  font-size: 2rem;
  color: #b9c3cf;
  letter-spacing: 1px;
  margin: 2rem 0 5rem;
}

.hero__image {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 0;
  }

  .hero__content {
    text-align: left;
    align-self: center;
  }
}

/* TODO: 19. Domin Block */

.block-domin .input-group {
  box-shadow: 0 0 30px 20px #e6ebee;
  border: 0;
  margin: 4rem auto;
  max-width: 670px;
}

.block-domin__prices {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* 这是用来设置height of each row */
  grid-template-rows: repeat(2, 6rem);
  font-size: 2rem;
  font-weight: 600;
  justify-items: center;
  max-width: 700px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .block-domin__prices {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
}

/* TODO: 20. Plans Block  */

.block-plans .grid {
  /* gap就真的是增加彼此间横竖的gap */
  gap: 8rem 4rem;
}

.block-plans .card {
  max-width: 500px;
  /* auto可以让它在水平方向上center */
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* TODO: 21. Features Block */
.feature {
  gap: 4rem 2rem;
  margin: 12rem 0;
}

.feature:first-of-type {
  margin-top: 6rem;
}

.feature__heading {
  margin: 1rem 0;
}

article > img {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  /* 这样的办法就是：让偶数位置的.feature 下的 2个.feature__content交换位置（order：2） */
  .feature:nth-of-type(even) .feature__content {
    order: 2;
  }
}

/* TODO: 22. Showcase Block  */

.block-showcase__img {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .block-showcase .grid {
    grid-template-columns: 50% 50%;
  }
}

/* TODO: 23, Testimonial Block */

/* TODO: 24, Footer */

.footer {
  background: #232323;
}

.footer__section {
  padding: 2rem;
  border-bottom: 2px solid #393939;
}

.footer__heading {
  text-transform: uppercase;
  font-weight: 600;
}

.footer__brand {
  margin-top: 5rem;
  text-align: center;
}

.footer__copyright {
  font-size: 2.1rem;
  color: #fff;
  opacity: 0.3;
}

.footer a {
  color: #777;
  transition: color 0.5s;
}
.footer a:hover {
  color: #fff;
}

.footer__section .list {
  margin: 0;
}

.footer__brand img {
  width: 100%;
  max-width: 230px;
}

@media screen and (min-width: 768px) {
  .footer__sections {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }

  .footer .collapsible__chevron {
    display: none;
  }

  .footer .collapsible__content {
    opacity: 1;
    max-height: 100%;
  }

  .footer__brand {
    order: -1;
    margin-top: 1rem;
  }

  .footer__copyright {
    font-size: 1.5rem;
  }

  .footer__section {
    border: 0;
  }

  .footer__heading {
    font-size: 1.6rem;
  }

  .footer .collapsible__content {
    font-size: 1.5rem;
  }
}
