<div class="collapsible collapsible--expanded">
    <header class='collapsible__header'>
        <h2 class='collapsible__heading'>item 2</h2>
        
        <svg class="icon collapsible__chevron">
            <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
       
    </header>
    <div class="collapsible__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni deserunt nemo reprehenderit enim dolores quae impedit rem reiciendis! Neque natus corporis vero iste doloribus beatae et facere architecto eius minima?
    </div>
</div>