<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy Start & Managed Updates</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem
      minus, similique, assumenda totam saepe aliquam incidunt quis natus porro
      facere, temporibus optio aspernatur expedita laudantium ipsum accusantium
      esse possimus dolore!
    </p>
  </div>
</div>
